/* PROJECTS SECTION ______________________________ */
.project-image {
    height: 12rem;
    background-size: cover;
}

.simplify-project {
    background-image: url('../../assets/projects-section/1.jpg');
}

.dashcoin-project {
    background-image: url('../../assets/projects-section/2.jpg');
}

.vectorify-project {
    background-image: url('../../assets/projects-section/3.jpg');
}
