@media (min-width: 800px) {
    main.startpage {
        padding-top: 5rem;
    }
}

/* HERO ______________________________ */
.hero-info p {
    margin: 2rem 0;
}

.hero-info .btn {
    margin: .4rem .8rem .4rem 0;
}

.hero-image {
    background-image: url(../assets/hero-section/hero-image.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: relative;
    min-height: 150px;
    min-width: 150px;
    margin: 1rem auto;
}

.hero-card {
    max-width: 9.5rem;
    position: absolute;
    border-radius: 30px;
    box-shadow: var(--shadow-soft);
}

.hero-card-1 {
    top: 1.5rem;
    left: -.5rem;
}

.hero-card-2 {
    right: 0;
    bottom: .5rem;
}

@media (min-width: 800px) {
    .hero .container {
        flex-direction: row-reverse;
    }

    .hero-image,
    .hero-info{
        width: 50%;
    }

    .hero-info {
        margin-top: 0;
    }

    .hero-image {
        background-position: top;
        min-height: 31.5rem;
        margin: 0;
    }
}

/* CLIENT SECTION ______________________________ */
.client-section {
    margin: 3.5rem 0;
}

.client-section .container {
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    overflow: scroll;
}

.client-section img {
    padding: 1rem;
    filter: grayscale(1);
}

@media (min-width: 800px) {
    .client-section {
        margin: 6rem 0;   
    }

    .client-section img:hover {
        filter: none;
    }
}

@media (min-width: 1100px) {
    .client-section img {
        padding: 1.5rem;
    }
}

/* PROJECTS SECTION ______________________________ */
.project-image {
    height: 12rem;
    background-size: cover;
}

.simplify-project {
    background-image: url('../assets/projects-section/1.jpg');
}

.dashcoin-project {
    background-image: url('../assets/projects-section/2.jpg');
}

.vectorify-project {
    background-image: url('../assets/projects-section/3.jpg');
}

/* TESTIMONIALS SECTION ______________________________ */
.testimonials-section {
    background-color: var(--neutral-dark);
    position: relative;
}

.orbit {
    background-image: url('../assets/testimonial-section/orbit.png');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.testimonials-section h2 {
    color: var(--neutral-light);
    margin: 0;
}

.testimonials-section > p {
    color: var(--secondary);
    font-size: 1.2rem;
    margin: 2.5rem auto;
    max-width: 590px;
}

.avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    background-image: url('../assets/testimonial-section/profile.png');
    background-size: cover;
    background-position: center;
    margin-right: .5rem;
}

.client-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.client-name {
    color: var(--primary-hover);
    display: block;
    font-size: .85rem;
}

.memoji {
    width: 150px;
    position: absolute;
}

.memoji-1 {
    left: 2rem;
    top: 2rem;
}

.memoji-2 {
    right: 2rem;
    top: 2rem;
}

.memoji-3 {
    left: 2rem;
    bottom: 2rem;
}

.memoji-4 {
    right: 2rem;
    bottom: 2rem;
}

/* PROJECTS SECTION ______________________________ */
.service-icon {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    margin: 2rem 1.5rem;
    background-color: var(--neutral-lightblue);
    box-sizing: border-box;
    border-radius: 100%;
}

/* CTA SECTION ______________________________ */
.cta-section {
    background-color: var(--secondary);
}

.cta-section form {
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.cta-section > p {
    color: var(--neutral-dark);
    margin: 1rem auto 2.5rem auto;
}

.email-input-container {
    position: relative;
    width: 19.5rem;
}

.email-input-container::before {
    content: '';
    position: absolute;
    height: 1.5rem;
    top: 1.25rem;
    left: 1.5rem;
    width: 1.5rem;
    background-image: url('../assets/newsletter/icon/mail.svg');
}

.email-input {
    padding-left: 3.5rem;
    height: 4rem;
    border: 1px solid var(--white);
}

.email-input::placeholder {
    color: var(--neutral-dark);
}

@media (max-width: 520px) {
    .cta-section form {
        flex-direction: column;
    }
}

